{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="de">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  {% block rss %}
  <meta name="og:site_name" content="{{ config.title }}">
  {% if page.title %}
  <meta name="og:title" content="{{ page.title }}">
  {% else %}
  <meta name="og:title" content="{{ config.title }}">
  {% endif %}
 {% if page.description %}
  <meta name="og:description" content="{{ page.description }}">
  <meta name="description" content="{{ page.description }}">
  {% else %}
  <meta name="og:description" content="{{ config.description }}">
  <meta name="description" content="{{ config.description }}">
  
  {% endif %}
  <meta name="og:url" content="{{ config.base_url }}">
  <meta name="og:type" content="website">
  {% if page.extra.image %}
  <meta name="og:image" content="{{config.base_url}}{{ page.extra.image }}">
  <meta name="og:logo" content="{{config.base_url}}{{ page.extra.image }}">
  {% else %}
  <meta name="og:image" content="{{ get_url(path="img/home-bg.jpg") }}">
  <meta name="og:logo" content="{{ get_url(path="img/home-bg.jpg") }}">
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  {% endblock %}
  <link rel="stylesheet" href="{{ get_url(path="css/index.css", trailing_slash=false) }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar" id="mainNav">
    <div class="container">
      <div class="logo">
      <!-- <a class="navbar-brand" href="{{ config.base_url }}">{{config.title}}</a> -->
      <button onclick="toggleMenu()" id="navbar-toggler">
        Menü
        <i id = 'menu-button' class='bx bx-menu'></i>
      </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% for item in config.extra.wanderlust_menu %}
          <li class="nav-item">
            <a class="nav-link"
              href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">{{ item.name }}</a>
          </li>
          {% endfor %}
          {% block search %}
          <hr>
                    <input class="input" id="search" placeholder="SUCHE" type="search" />
          {% endblock %}
        </ul>
        <div class="search-results" style="display: none; min-width: 300px;">
        <li class="nav-item">Ergebnis</li>
        <div class="search-results__items" style="max-width: 300px;"> </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  {% block header %}
  <header class="masthead" style="background-image: url('{{ get_url(path="/img/home-bg.jpg")}}')">
    <div class="overlay">
    </div>
    <div class="container">
      <div >
        <div >
          <div class="site-heading">
            <h1>{{config.title}}</h1>
            <span class="subheading">{{config.description}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% endblock header %}

  {% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="posts">
          {% for page in paginator.pages %}
          <div class="post-preview">
            {{ post_macros::page_title(page=page) }}
            <p class="post-summary">{{ page.summary | safe }}</p>
          </div>
          {% endfor %}
        </div>

        <!-- Paginator -->
        <div class="clearfix">
          {% if paginator.previous %}
          <a class="btn btn-primary float-left" href="{{ paginator.previous }}"> &larr; Newer Posts</a>
          {% endif %}
          {% if paginator.next %}
          <a class="btn btn-primary float-right" href="{{ paginator.next }}">Older Posts &rarr;</a>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
  {% endblock content %}

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="footer-links-1">
        <span class="footer-link-label" ><i class="bx bx-info-circle"></i> Hinweise</span><br>
        <i class="bx bx-file"></i> <a href="{{ config.base_url }}/datenschutz" class="footer-link">Datenschutz</a><br>
        <i class="bx bx-file"></i> <a href="{{ config.base_url }}/impressum" class="footer-link">Impressum</a><br>
        <i class="bx bx-map"></i> <a href="{{ config.base_url }}/sitemap.xml" class="footer-link">Sitemap</a><br>
        <!-- RSS -->
        <i class="bx bx-rss"></i> <a href="{{ config.base_url }}/rss.xml" class="footer-link">RSS</a><br>
        &copy; <a href="https://staneks.de" class="footer-link" >{% block copyright %} Simeon Stanek
          {{ now() | date(format="%Y") }}{% endblock copyright %}</a>
        </div>
        <div class ="footer-links-2">
          <span class="footer-link-label"><i class="bx bx-book"></i> Seiten</span><br>
          <i class="bx bx-chevron-right"></i> <a href="{{ config.base_url }}/blog" class="footer-link">Beiträge</a><br>
          <i class="bx bx-chevron-right"></i> <a href="{{ config.base_url }}/aufgaben-des-vereins" class="footer-link">Aufgaben des Vereins</a><br>
          <i class="bx bx-chevron-right"></i> <a href="{{ config.base_url }}/mitgliedschaft" class="footer-link">Mitgliedschaft</a><br>
          <i class="bx bx-chevron-right"></i> <a href="{{ config.base_url }}/publikationen" class="footer-link">Publikationen</a><br>
          <i class="bx bx-chevron-right"></i> <a href="{{ config.base_url }}/ortsgeschichte" class="footer-link">Ortsgeschichte</a><br>
          {% set section = get_section(path="pages/_index.md") %}
          {% for page in section.pages %}
          <i class="bx bx-chevron-right"></i> <a href="{{ page.permalink }}" class="footer-link">{{ page.title }}</a><br>
          {% endfor %}
        </div>
        <div class ="footer-links-3">
          <span class="footer-link-label" ><i class="bx bx-news"></i> Beiträge</span><br>
          {% set section = get_section(path="blog/_index.md") %}
          {% for page in section.pages %}
          <i class="bx bx-chevron-right"></i> <a href="{{ page.permalink }}" class="footer-link">{{ page.title | truncate(length=20)}}</a><br>
          {% endfor %}
        </div>

    </div>
  </footer>



  {% block extrascripts %}




  <script src="{{ get_url(path="js/index.js") }}"></script>
  
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
  <script src="{{ get_url(path='elasticlunr.min.js') }}"></script>
  <script src="{{ get_url(path='js/lunr.stemmer.support.js') }}"></script>
  <script src="{{ get_url(path='js/lunr.de.js') }}"></script>
  <script src="{{ get_url(path='js/search.js') }}"></script>

  <script type="text/javascript">
    const lightbox = GLightbox({ 
      
    });

  </script>
  

  {% endblock extrasripts %}
</body>
</html>