{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="de">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  {% endblock %}
  <link rel="stylesheet" href="{{ get_url(path="css/index.css", trailing_slash=false) }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar" id="mainNav">
    <div class="container">
      <div class="logo">
      <!-- <a class="navbar-brand" href="{{ config.base_url }}">{{config.title}}</a> -->
      <button onclick="toggleMenu()" id="navbar-toggler">
        Menü
        <i id = 'menu-button' class='bx bx-menu'></i>
      </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% for item in config.extra.wanderlust_menu %}
          <li class="nav-item">
            <a class="nav-link"
              href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">{{ item.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  {% block header %}
  <header class="masthead" style="background-image: url('{{ get_url(path="/img/home-bg.jpg")}}')">
    <div class="overlay">
    </div>
    <div class="container">
      <div >
        <div >
          <div class="site-heading">
            <h1>{{config.title}}</h1>
            <span class="subheading">{{config.description}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% endblock header %}

  {% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="posts">
          {% for page in paginator.pages %}
          <div class="post-preview">
            {{ post_macros::page_title(page=page) }}
            <p class="post-summary">{{ page.summary | safe }}</p>
          </div>
          {% endfor %}
        </div>

        <!-- Paginator -->
        <div class="clearfix">
          {% if paginator.previous %}
          <a class="btn btn-primary float-left" href="{{ paginator.previous }}"> &larr; Newer Posts</a>
          {% endif %}
          {% if paginator.next %}
          <a class="btn btn-primary float-right" href="{{ paginator.next }}">Older Posts &rarr;</a>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
  {% endblock content %}

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div>
        <div>
          <ul>
            {% for item in config.extra.wanderlust_social %}
            <li>
              <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                <span>
                 <box-icon  {{ item.icon | safe }}  ></box-icon>
                </span>
              </a>
            </li>
            {% endfor %}
          </ul>
          <p class="copyright">{% block copyright %}&copy; Simeon Stanek
            {{ now() | date(format="%Y") }}{% endblock copyright %}</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="{{ get_url(path="js/index.js") }}"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

  {% block extrascripts %}
  {% endblock extrasripts %}
</body>
</html>