
{% extends "base.html" %}

{% block header %}
<!-- Page Header Template für Einzelseiten-->
<header class="masthead" style="background-image: url('{{page.extra.image}}")')">
  <div class="container">
    <div>
      <div >
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->

<div class="container">
  <div>
    <div>
      <div class="page-heading">
        <h1>{{ page.title }}</h1>
      </div>
      <span class="subheading">{{ page.description }}</span>
      <hr>
      {{ page.content | safe }}
    </div>
  </div>
</div>
<div class="next-pages">
  {% if page.lower %}
<div class="next">
  <a href="{{ page.lower.permalink }}"><i class="bx bx-left-arrow-alt"></i> {{ page.lower.title }}</a>
</div>
{% endif %}
{% if page.higher%}

<div class="previous">
  <a href="{{ page.higher.permalink }}">{{ page.higher.title }} <i class="bx bx-right-arrow-alt"></i></a>
</div>
{% endif %}
</div>
{% endblock content %}

