{% extends "base.html" %}

{% block header %}
<!-- Page Header -->
 
{{ post_macros::page_thumbnail(page=page) }}
</header>
{% endblock header %}

{% block content %}
<!-- Post Content -->
<article>
  <div class="container">
    <div >
      <div >
        <div class="page-heading" >
          {{ post_macros::page_header(page=page) }}
        </div>
        <hr>
        <div class="post-content" >
    
          
    
        {% if page.extra.image %}
          <div class="image-container">
            <a href="{{ page.extra.image }}" class="glightbox">
          <img src="{{ page.extra.image }}" alt="{{ page.description }}">
          </a>
          <br><span class="image-caption">{{ page.description }}</span>
        </div>
        {% endif %}
          
          {{ page.content | safe}}
        </div>
   

        {% if page.extra.download %}
        {% for file in page.extra.download %}
        <div class="post-download">
          <a href="{{ file }}" target="_blank"><i class="bx bx-download"></i> {{ file | split(pat="/") | last }}</a>
        </div>
        {% endfor %}
        {% endif %}
        <br>


        {% if page.taxonomies.tags %}
        <div class="post-tags">
          <p>
            {% for tag in page.taxonomies.tags %}
            <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}"><i class="bx bx-tag"></i> {{ tag }}</a>
            {% endfor %}
          </p>
        </div>
        {% endif %}
        <div class="post-share">
        <p>
            <a href="https://twitter.com/intent/tweet?url={{ page.permalink }}&text={{ page.title }}" target="_blank"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.permalink }}" target="_blank"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.linkedin.com/shareArticle?url={{ page.permalink }}" target="_blank"><i class="bx bxl-linkedin"></i></a>
            <a href="https://wa.me/?text={{ page.permalink }}" target="_blank"><i class="bx bxl-whatsapp"></i></a>
        </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</article>
<div class="next-pages">
  {% if page.lower %}
<div class="next">
  <a href="{{ page.lower.permalink }}"><i class="bx bx-left-arrow-alt"></i> {{ page.lower.title }} </a>
</div>
{% endif %}
{% if page.higher%}

<div class="previous">
  <a href="{{ page.higher.permalink }}">{{ page.higher.title }} <i class="bx bx-right-arrow-alt"></i></a>
</div>
{% endif %}
</div>

{% endblock content %}