{% macro page_title(page) %}
<a href="{{ page.permalink }}">
    <h2 class="post-title">{{ page.title }}</h2>
</a>
<p class="post-meta"><i class="bx bx-calendar"></i>
    {{ page.date | date(format="%d.%m.%Y")}}</p>
{% endmacro page_list %}

{% macro page_header(page) %}
<h1>{{ page.title }}</h1>
</div>
<span class="subheading">
<i class="bx bx-calendar"></i>
{{ page.date | date(format="%d.%m.%Y")}}
</span>
{% if page.extra.publisher %}
<br>
<span class="subheading">
<i class="bx bx-news"></i>
 {{ page.extra.publisher }}
{% endif %}
</span>
</span>
{% endmacro page_list %}


{% macro page_thumbnail(page) %}
{% if page.extra.image %}
<header class="masthead" style="background-image: url('{{ page.extra.image }}')">
{% else %}
<header class="masthead" style="background-image: url('{{ get_url(path="/img/Mittel (blog-bg).jpeg")}}')">
{% endif %}
{% endmacro page_list %}