
{% extends "base.html" %}

{% block header %}
<!-- Page Header Template für Einzelseiten-->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/home-bg.jpg")}}')">
  <div class="overlay">
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->

<div class="container">
  <div>
    <div>
      <div class="page-heading">
        <h1>{{ section.title }}</h1>
      </div>
      <span class="subheading">{{ section.description }}</span>
      <hr>
      {{ section.content | safe }}
    </div>
  </div>
  <div class="booklist">
    {% if paginator %}
    {% set pages = paginator.pages %}
    {% else %}
    {% set pages = section.pages %}
    {% endif %}




    {% for page in pages %}
    <article class="book-preview">
    <h1>{{ page.title }}</h1>
    <p>{{ page.content | safe }}</p>


    </article>
    {% endfor %}
    </div>
</div>
{% endblock content %}