
{% extends "base.html" %}

{% block header %}
<!-- Page Header Template für Einzelseiten-->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/blog-bg.jpg")}}')">
  <div class="overlay">
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->

<div class="container">
  <div>
    <div>
      <div class="page-heading">
        <h1>{{ section.title }}</h1>
      </div>
      <span class="subheading">{{ section.description }}</span>
      <hr>
      {{ section.content | safe }}
    </div>
  </div>
  <div class="list">
    {% if paginator %}
    {% set pages = paginator.pages %}
    {% else %}
    {% set pages = section.pages %}
    {% endif %}




    {% for page in pages %}
    <article class="section-preview">
    <h1><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
    {%if page.date %}
    <span class="section-subheading"><i class="bx bx-calendar"></i> {{ page.date | date(format="%d.%m.%Y") }}</span>
    {% endif %}
    <p class="post-summary">{{ page.content | truncate(length=300) | safe }} <a href="{{ page.permalink }}" class="btn btn-primary">Weiterlesen</a></p>
    <hr>


    </article>
    {% endfor %}
    </div>
</div>
{% endblock content %}