
{% extends "base.html" %}

{% block header %}
<!-- Page Header Template für Einzelseiten-->
<header class="masthead" >
  <div class="container">
    <div>
      <div >
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->

<div class="container">
  <div>
    <div>
      <div class="page-heading">
        <h1>{{ section.title }}</h1>
      </div>
      <span class="subheading">{{ section.description }}</span>
      <hr>
      {{ section.content | safe }}
    </div>
  </div>
</div>
{% endblock content %}